<h1>TX and RX Statistics Registers</h1>
<table class="table">
<tbody>
<tr>
<th class="col0">Current Value</th>
<th class="col1">Register Name</th>
<th class="col2">HW Reset Value</th>
<th class="col3">Description<button type="button"  class="btn btn-default hideclass" ><span class="glyphicon glyphicon-resize-vertical"></span></th>
</th>
<tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_clr" value="0x0 " ></input>
</form>
</td>
<td>tx_stats_clr</td
><td>0x0 </td
><td>Bit
<br>0Set this register to 1 to clear all TX statistics counters.
<br>The IP core clears this bit when all counters are cleared. 
<br>Bits
<br>31:1reserved.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_clr" value="0x0 " ></input>
</form>
</td>
<td>rx_stats_clr</td
><td>0x0 </td
><td>Bit
<br>0Set this register to 1 to clear all RX statistics counters.
<br>The IP core clears this bit when all counters are cleared. 
<br>Bits
<br>31:1reserved.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_framesOK" value="0x0
" disabled ></input>
</form>
</td>
<td>tx_stats_framesOK</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the number of frames that are
<br>successfully received or transmitted, including control frames.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_framesOK" value="0x0" disabled ></input>
</form>
</td>
<td>rx_stats_framesOK</td
><td>0x0</td
><td></td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_framesErr" value="0x0
" disabled ></input>
</form>
</td>
<td>tx_stats_framesErr</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the number of frames received or
<br>transmitted with error, including control frames.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_framesErr" value="0x0" disabled ></input>
</form>
</td>
<td>rx_stats_framesErr</td
><td>0x0</td
><td></td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_framesCRCErr" value="0x0
" disabled ></input>
</form>
</td>
<td>rx_stats_framesCRCErr</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the number of RX frames with CRC error.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_octetsOK" value="0x0
" disabled ></input>
</form>
</td>
<td>tx_stats_octetsOK</td
><td>0x0
</td
><td>64-bit
<br>statistics counter that collects the payload length, including the bytes
<br>in control frames. The payload length is the number of data and padding
<br>bytes received or transmitted. If the tx_vlan_detection[0] or rx_vlan_detection[0] register bit is set to 1, the VLAN
<br>and stacked VLAN tags are counted as part of the TX payload or RX
<br>payload respectively.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_octetsOK" value="0x0" disabled ></input>
</form>
</td>
<td>rx_stats_octetsOK</td
><td>0x0</td
><td></td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_pauseMACCtrl_Frames" value="0x0
" disabled ></input>
</form>
</td>
<td>tx_stats_pauseMACCtrl_Frames</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the number of valid pause frames
<br>received or transmitted.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_pauseMACCtrl_Frames" value="0x0" disabled ></input>
</form>
</td>
<td>rx_stats_pauseMACCtrl_Frames</td
><td>0x0</td
><td></td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_ifErrors" value="0x0
" disabled ></input>
</form>
</td>
<td>tx_stats_ifErrors</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the number of frames received or
<br>transmitted that are invalid and with error.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_ifErrors" value="0x0" disabled ></input>
</form>
</td>
<td>rx_stats_ifErrors</td
><td>0x0</td
><td></td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_unicast_FramesOK" value="0x0
" disabled ></input>
</form>
</td>
<td>tx_stats_unicast_FramesOK</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the number of good unicast frames
<br>received or transmitted, excluding control frames.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_unicast_FramesOK" value="0x0" disabled ></input>
</form>
</td>
<td>rx_stats_unicast_FramesOK</td
><td>0x0</td
><td></td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_unicast_FramesErr" value="0x0
" disabled ></input>
</form>
</td>
<td>tx_stats_unicast_FramesErr</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the number of unicast frames received
<br>or transmitted with error, excluding control frames.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_unicast_FramesErr" value="0x0" disabled ></input>
</form>
</td>
<td>rx_stats_unicast_FramesErr</td
><td>0x0</td
><td></td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_multicast_FramesOK" value="0x0
" disabled ></input>
</form>
</td>
<td>tx_stats_multicast_FramesOK</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the number of good multicast frames
<br>received or transmitted, excluding control frames.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_multicast_FramesOK" value="0x0" disabled ></input>
</form>
</td>
<td>rx_stats_multicast_FramesOK</td
><td>0x0</td
><td></td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_multicast_FramesErr" value="0x0
" disabled ></input>
</form>
</td>
<td>tx_stats_multicast_FramesErr</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the number of multicast frames received
<br>or transmitted with error, excluding control frames.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_multicast_FramesErr" value="0x0" disabled ></input>
</form>
</td>
<td>rx_stats_multicast_FramesErr</td
><td>0x0</td
><td></td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_broadcast_FramesOK" value="0x0
" disabled ></input>
</form>
</td>
<td>tx_stats_broadcast_FramesOK</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the number of good broadcast frames
<br>received or transmitted, excluding control frames.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_broadcast_FramesOK" value="0x0" disabled ></input>
</form>
</td>
<td>rx_stats_broadcast_FramesOK</td
><td>0x0</td
><td></td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_broadcast_FramesErr" value="0x0
" disabled ></input>
</form>
</td>
<td>tx_stats_broadcast_FramesErr</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the number of broadcast frames received
<br>or transmitted with error, excluding control frames.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_broadcast_FramesErr" value="0x0" disabled ></input>
</form>
</td>
<td>rx_stats_broadcast_FramesErr</td
><td>0x0</td
><td></td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_etherStatsOctets" value="0x0
" disabled ></input>
</form>
</td>
<td>tx_stats_etherStatsOctets</td
><td>0x0
</td
><td>64-bit
<br>statistics counter that collects the total number of octets received or
<br>transmitted. This count includes good, errored, and invalid frames.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_etherStatsOctets" value="0x0" disabled ></input>
</form>
</td>
<td>rx_stats_etherStatsOctets</td
><td>0x0</td
><td></td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_etherStatsPkts" value="0x0
" disabled ></input>
</form>
</td>
<td>tx_stats_etherStatsPkts</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the total number of good, errored, and
<br>invalid frames received or transmitted.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_etherStatsPkts" value="0x0" disabled ></input>
</form>
</td>
<td>rx_stats_etherStatsPkts</td
><td>0x0</td
><td></td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_etherStatsUndersizePkts" value="0x0
" disabled ></input>
</form>
</td>
<td>tx_stats_etherStatsUndersizePkts</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the number of undersized TX or RX
<br>frames.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_etherStatsUndersizePkts" value="0x0" disabled ></input>
</form>
</td>
<td>rx_stats_etherStatsUndersizePkts</td
><td>0x0</td
><td></td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_etherStatsOversizePkts" value="0x0
" disabled ></input>
</form>
</td>
<td>tx_stats_etherStatsOversizePkts</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the number of TX or RX frames whose
<br>length exceeds the maximum frame length specified.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_etherStatsOversizePkts" value="0x0" disabled ></input>
</form>
</td>
<td>rx_stats_etherStatsOversizePkts</td
><td>0x0</td
><td></td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_etherStatsPkts64Octets" value="0x0
" disabled ></input>
</form>
</td>
<td>tx_stats_etherStatsPkts64Octets</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the number of 64-byteTX or RX frames,
<br>including the CRC field but excluding the preamble and SFD bytes. This
<br>count includes good, errored, and invalid frames.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_etherStatsPkts64Octets" value="0x0" disabled ></input>
</form>
</td>
<td>rx_stats_etherStatsPkts64Octets</td
><td>0x0</td
><td></td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_etherStatsPkts65to127Octets" value="0x0
" disabled ></input>
</form>
</td>
<td>tx_stats_etherStatsPkts65to127Octets</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the number of TX or RX frames between
<br>the length of 65 and 127 bytes, including the CRC field but excluding
<br>the preamble and SFD bytes. This count includes good, errored, and
<br>invalid frames.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_etherStatsPkts65to127Octets" value="0x0" disabled ></input>
</form>
</td>
<td>rx_stats_etherStatsPkts65to127Octets</td
><td>0x0</td
><td></td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_etherStatsPkts128to255Octets" value="0x0
" disabled ></input>
</form>
</td>
<td>tx_stats_etherStatsPkts128to255Octets</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the number of TX or RX frames between
<br>the length of 128 and 255 bytes, including the CRC field but excluding
<br>the preamble and SFD bytes. This count includes good, errored, and
<br>invalid frames.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_etherStatsPkts128to255Octets" value="0x0" disabled ></input>
</form>
</td>
<td>rx_stats_etherStatsPkts128to255Octets</td
><td>0x0</td
><td></td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_etherStatsPkts256to511Octets" value="0x0
" disabled ></input>
</form>
</td>
<td>tx_stats_etherStatsPkts256to511Octets</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the number of TX or RX frames between
<br>the length of 256 and 511 bytes, including the CRC field but excluding
<br>the preamble and SFD bytes. This count includes good, errored, and
<br>invalid frames.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_etherStatsPkts256to511Octets" value="0x0" disabled ></input>
</form>
</td>
<td>rx_stats_etherStatsPkts256to511Octets</td
><td>0x0</td
><td></td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_etherStatsPkts512to1023Octets" value="0x0
" disabled ></input>
</form>
</td>
<td>tx_stats_etherStatsPkts512to1023Octets</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the number of TX or RX frames between
<br>the length of 512 and 1,023 bytes, including the CRC field but excluding
<br>the preamble and SFD bytes. This count includes good, errored, and
<br>invalid frames.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_etherStatsPkts512to1023Octets" value="0x0" disabled ></input>
</form>
</td>
<td>rx_stats_etherStatsPkts512to1023Octets</td
><td>0x0</td
><td></td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_etherStatPkts1024to1518Octets" value="0x0
" disabled ></input>
</form>
</td>
<td>tx_stats_etherStatPkts1024to1518Octets</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the number of TX or RX frames between
<br>the length of 1,024 and 1,518 bytes, including the CRC field but
<br>excluding the preamble and SFD bytes. This count includes good, errored,
<br>and invalid frames.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_etherStatPkts1024to1518Octets" value="0x0" disabled ></input>
</form>
</td>
<td>rx_stats_etherStatPkts1024to1518Octets</td
><td>0x0</td
><td></td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_etherStatsPkts1519toXOctets" value="0x0
" disabled ></input>
</form>
</td>
<td>tx_stats_etherStatsPkts1519toXOctets</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the number of TX or RX frames equal or
<br>more than the length of 1,519 bytes, including the CRC field but
<br>excluding the preamble and SFD bytes. This count includes good, errored,
<br>and invalid frames.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_etherStatsPkts1519toXOctets" value="0x0" disabled ></input>
</form>
</td>
<td>rx_stats_etherStatsPkts1519toXOctets</td
><td>0x0</td
><td></td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_etherStatsFragments" value="0x0
" disabled ></input>
</form>
</td>
<td>rx_stats_etherStatsFragments</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the total number of RX frames with
<br>length less than 64 bytes and CRC error. The MAC does not drop these
<br>frames.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_etherStatsJabbers" value="0x0
" disabled ></input>
</form>
</td>
<td>rx_stats_etherStatsJabbers</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the number of oversized RX frames with
<br>CRC error. The MAC does not drop these frames.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_etherStatsCRCErr" value="0x0
" disabled ></input>
</form>
</td>
<td>rx_stats_etherStatsCRCErr</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the number of RX frames with CRC error,
<br>whose length is between 64 and the maximum frame length specified in the
<br>register. The MAC does not drop these frames.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_unicastMACCtrlFrames" value="0x0
" disabled ></input>
</form>
</td>
<td>tx_stats_unicastMACCtrlFrames</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the number of valid TX or RX unicast
<br>control frames.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_unicastMACCtrlFrames" value="0x0" disabled ></input>
</form>
</td>
<td>rx_stats_unicastMACCtrlFrames</td
><td>0x0</td
><td></td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_multicastMACCtrlFrames" value="0x0
" disabled ></input>
</form>
</td>
<td>tx_stats_multicastMACCtrlFrames</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the number of valid TX or RX multicast
<br>control frames.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_multicastMACCtrlFrames" value="0x0" disabled ></input>
</form>
</td>
<td>rx_stats_multicastMACCtrlFrames</td
><td>0x0</td
><td></td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_broadcastMACCtrlFrames" value="0x0
" disabled ></input>
</form>
</td>
<td>tx_stats_broadcastMACCtrlFrames</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the number of valid TX or RX broadcast
<br>control frames.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_broadcastMACCtrlFrames" value="0x0" disabled ></input>
</form>
</td>
<td>rx_stats_broadcastMACCtrlFrames</td
><td>0x0</td
><td></td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_stats_PFCMACCtrlFrames" value="0x0
" disabled ></input>
</form>
</td>
<td>tx_stats_PFCMACCtrlFrames</td
><td>0x0
</td
><td>36-bit
<br>statistics counter that collects the number of valid TX or RX PFC
<br>frames.</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="rx_stats_PFCMACCtrlFrames" value="0x0" disabled ></input>
</form>
</td>
<td>rx_stats_PFCMACCtrlFrames</td
><td>0x0</td
><td></td
></tr>
</tbody></table>