{% extends "base.html" %}

{% block content %}
<div class="container">

<h1>Port Status</h1>
<table id="ports" class="table table-hover">
    <caption>Port Status</caption>
    <tbody>
    <tr>
    <th>Port</th>
    <th>Active</th>
    <th>Lock</th>
    <th>SFP</th>
    <th>Rate</th>
    <th>Ave Rate</th>
    <th>
    <p>Dropped Packets</p>
    </th>
    <th>Average Packet Delay</th>
    </tr>
    <tr id="portA" >
    <td>A</td>
    <td id="Aactive"></td>
    <td id="Alock">Al</td>
    <td id="Asfp">As</td>
    <td id="Arate">Az</td>
    <td id="Aaverate">Ar</td>
    <td id="Adropped">Ad</td>
    <td id ="Aavedelay">Ap</td>
    </tr>
    <tr id = "portB">
    <td>B</td>
    <td id="Bactive">Ba</td>
    <td id="Block">Bl</td>
    <td id="Bsfp">Bs</td>
    <td id="Brate">Bz</td>
    <td id="Baverate">Br</td>
    <td id="Bdropped">Bd</td>
    <td id ="Bavedelay">Bp</td>
    </tr>
    <tr id = "portC">
    <td>C</td>
    <td id="Cactive">Ca</td>
    <td id="Clock">Cl</td>
    <td id="Csfp">Cs</td>
    <td id="Crate">Cz</td>
    <td id="Caverate">Cr</td>
    <td id="Cdropped">Cd</td>
    <td id ="Cavedelay">Cp</td>
    </tr>
    <tr id= "portD">
    <td>D</td>
    <td id="Dactive">Da</td>
    <td id="Dlock">Dl</td>
    <td id="Dsfp">Ds</td>
    <td id="Drate">Dz</td>
    <td id="Daverate">Dr</td>
    <td id="Ddropped">Dd</td>
    <td id ="Davedelay">Dp</td>
    </tr>
    <tr id = "portE">
    <td>E</td>
    <td id="Eactive">Ea</td>
    <td id="Elock">El</td>
    <td id="Esfp">Es</td>
    <td id="Erate">Ez</td>
    <td id="Eaverate">Er</td>
    <td id="Edropped">Ed</td>
    <td id ="Eavedelay">Ep</td>
    </tr>
    </tbody>
</table>
</div >  
<div class="container">

<h1>Frequency Counters</h1>
<table id="ports" class="table table-hover">
    <caption>Frequency Counters</caption>
    <tbody>
    <tr>
    <th>25 mhz</th>
    <th>125 mhz</th>
    <th>156.25 mhz</th>
    <th>200 mhz</th>
    <th>312.5mhz</th>
    <th>322.35 m mhz</th>
    </tr>
    <tr>
    <td id="fcnt25"></td>
    <td id="fcnt125"></td>
    <td id="fcnt156_25"></td>
    <td id="fcnt200"></td>
    <td id="fcnt312_5"></td>
    <td id="fcnt322_25"></td>
    </tr>
    </tbody>
</table>
</div >  
    
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript">
    var t0 = 0
    var upd_time = 1000;
    var interval = 100;
    var elapsed_time = 0;
    
    function upd_timer(socket){
        if (elapsed_time < upd_time) {
            elapsed_time += interval;
        } else {
            elapsed_time = 0
            t0 = performance.now();
            socket.emit("get_portstatus", "get");
        }
    }
    
        $(document).ready(function() {
            var url = "http://" + document.domain + ":" + location.port;
            console.log( url);
            var socket = io.connect(url + "/dd");
            console.log(document.domain + " connected");
            console.log("status_table");
            t0 = performance.now();
            socket.emit("get_portstatus", "get");
//            setInterval(function(){ socket.emit("get_portstatus", "get"); }, 3000);
            setInterval(function(){ upd_timer(socket);}, interval);

            socket.on('portstatus', function(port_obj) {
                var t1 = performance.now();
                update_portstatus(port_obj);
                console.log("Time "+ (t1 -t0) + "ms");
            });
            
            socket.on('update_system', function(msg) {
                console.log(msg)
                update_system(msg)
            });
            

        }); 
    </script>
<script type="text/javascript">
    function update_portstatus( data ){
         port_obj = JSON.parse(data)
         console.log("update_portstatus()");
//         console.log(port_obj);
        for (portn in port_obj) {
            port = port_obj[portn]
//            console.log("port " + portn)
            for (x in port) { 
//                console.log(x)
                document.getElementById(portn+x).innerHTML = port[x];
            }
        }
        $('.port_selection').hide();
    }

    function request_portstatus() {
        console.log("request_portstatus");
        socket.emit("get_portstatus", "get");
    }
   
   function update_system( data ){
         var tbl_obj = JSON.parse(data);
        for (label in tbl_obj) {
            document.getElementById(label).innerHTML = tbl_obj[label];
            
       }
    }

    
 </script>
    <script type="text/javascript">
        console.log('Page loaded');
        $('.port_selection').hide();
    </script>


{% endblock %}

