<h1>TX Configuration and Status Register</h1>
<table class="table">
<tbody>
<tr>
<th class="col0">Current Value</th>
<th class="col1">Register Name</th>
<th class="col2">HW Reset Value</th>
<th class="col3">Description<button type="button"  class="btn btn-default" id="hide_desc"><span class="glyphicon glyphicon-resize-vertical"></span></th>
</th>
<tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_packet_control" value=""></input>
</form>
</td>
<td>tx_packet_control</td
><td></td
><td>0x0</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_transfer_status" value=""></input>
</form>
</td>
<td>tx_transfer_status</td
><td></td
><td>0x0</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_pad_control" value=""></input>
</form>
</td>
<td>tx_pad_control</td
><td></td
><td>0x1</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_crc_control" value=""></input>
</form>
</td>
<td>tx_crc_control</td
><td></td
><td>0x3</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_preamble_control" value=""></input>
</form>
</td>
<td>tx_preamble_control</td
><td></td
><td>0x0</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_src_addr_override" value=""></input>
</form>
</td>
<td>tx_src_addr_override</td
><td></td
><td>0x0</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_frame_maxlength" value=""></input>
</form>
</td>
<td>tx_frame_maxlength</td
><td></td
><td>0x5EE (1518)</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_vlan_detection" value=""></input>
</form>
</td>
<td>tx_vlan_detection</td
><td></td
><td>0x0</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_ipg_10g" value=""></input>
</form>
</td>
<td>tx_ipg_10g</td
><td></td
><td>0x1</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_ipg_10M_100M_1G" value=""></input>
</form>
</td>
<td>tx_ipg_10M_100M_1G</td
><td></td
><td>0x0C</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_underflow_counter0" value=""></input>
</form>
</td>
<td>tx_underflow_counter0</td
><td></td
><td>0x0</td
></tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="tx_underflow_counter1" value=""></input>
</form>
</td>
<td>tx_underflow_counter1</td
><td></td
><td></td
></tr>
</tbody></table>