<h1>Table 25.  MAC TX Configuration and Status Register</h1>
<table class="table">
<tbody>
<tr>
<th class="col0">Current Value</th>
<th class="col1">Register Name</th>
<th class="col2">HW Reset Value</th>
<th class="col3">Description<button type="button"  class="btn btn-default hideclass" ><span class="glyphicon glyphicon-resize-vertical"></span></th>
</th>
<tr>
<tr>
<td>
<form method="post">
<input type="text" class="reg_input" id="MAC" value="000000000000" ></input>
</form>
</td>
<td>MAC</td
><td>000000000000</td
><td >MAC address</td
></tr>
</tbody></table>